<!DOCTYPE html>
<html>
<title>Тест Aspose</title>
<link rel="stylesheet" type="text/css" href="./css/styles.css">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/bootstrap-theme.min.css">
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<body>
<div class="row">
    <div class="col-lg-2 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
        <div class="panel">
            <fieldset>
                <legend>Legend</legend>
                <div class="form-group">
                    <label for="exampleInputEmail">
                        Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
                </div>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>